
canvas{
  top: -50px;
  position: absolute;
}

#imagen2{
top: -80px;
  z-index: 24;
  position: absolute;
width: 1400px;
height: 2850px;
}
#imagen1{
  margin-top: 770px;
  transform: rotate(90deg);
  height: 1300px;
  position: absolute;
  margin-left: -580px;
}
