
canvas{
  position: absolute;
}

#imagen2{
  z-index: 24;
  position: absolute;
width: 1400px;
height: 2700px;
}
#imagen1{
  margin-top: 850px;
  transform: rotate(90deg);
  height: 1300px;
  position: absolute;
  margin-left: -500px;
}
